@import './markdown.css';

html,
body,
#app {
  @apply text-sm md:text-base;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply bg-light-400 text-black overflow-x-hidden;
}
html.dark {
  @apply !bg-gray-900 text-white;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-green-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.card {
  @apply min-h-full lg:max-w-6xl xl:max-w-screen-xl mx-auto lg:max-h-6xl xl:max-h-screen-xl;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-green-600 text-white cursor-pointer
    hover:bg-green-300
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-green-300;
  font-size: 1rem;
}

.fade-leave-to {
  opacity: 0;
}

.fade-leave-active {
  transition: all 750ms ease;
  animation: slideOut 500ms ease;
}

.fade-enter-active {
  transition: all 500ms ease;
  animation: slideIn 1s;
}

.fade-enter-from {
 opacity: 0;
}

@keyframes slideOut {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(200%, 0); opacity: 0; }
}

@keyframes slideIn {
  0% { transform: translate(-200%, 0); opacity: 0; }
  100% { transform: translate(0, 0); opacity: 1; }
}

.screen-content {
  @apply p-12;
}

.gradient-btn {
  @apply px-8 py-4 rounded-full font-normal tracking-wide bg-gradient-to-b from-blue-600 to-blue-700 text-white outline-none focus:outline-none hover:shadow-lg hover:from-blue-700 transition duration-200 ease-in-out;
}

.arrow-right {
  position: relative;
  width: 40px;
  min-height: 40px;
  border-radius: 100%;
}

.cta{
  width:100%; cursor: pointer; position: absolute;
}

.cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:12px; left:12px }
.second{margin-left: 8px;}
.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow-right .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.arrow-right .arrow.first{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.demo-flow {
  @apply bg-white border-1 solid border-gray-300 rounded-xl;
}

h1 {
  @apply text-xl lg:text-4xl mb-4 font-bold;
}

h2 {
  @apply text-lg lg:text-2xl mb-4 font-semibold;
}

p {
  @apply text-md lg:text-lg font-qtype;
}

p ~ h1, p ~ h2 {
  @apply mt-6;
}

ul {
  padding: revert;
}

li {
  @apply mt-2 text-md lg:text-lg;
  list-style-type: circle;
}
