@import './markdown.css';

html,
body,
#app {
  @apply text-sm md:text-base;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  @apply bg-gradient-to-l from-gold-100 to-blue-500;
}
html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-green-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.card {
  @apply min-h-full lg:max-w-6xl xl:max-w-screen-xl mx-auto lg:max-h-6xl xl:max-h-screen-xl;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-green-600 text-white cursor-pointer
    hover:bg-green-300
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-green-300;
  font-size: 1rem;
}

.slide-enter-active {
  position: absolute;
  top: 0;
  transition: all 500ms ease;
}

.slide-enter-active {
  animation: infinite pullforward 1s;
}

.slide-enter-to {
  positon: relative;
}

.fade-leave-to {
  opacity: 0;
}

.fade-leave-active {
  position: absolute;
  transition: all 1s ease;
}

.fade-leave-active {
  animation: infinite putback 1s;
}

.fade-enter-active {
  transition: opacity 500ms ease;
}


.fade-enter-from {
  opacity: 0;
}

@keyframes putback {
  0% { transform: translate(0, 0); }
  25% { transform: translate(0, -120%);  }
  100% { transform: translate(0, 0) rotate(10deg); z-index: 0; }
}

@keyframes pullforward {
  100% { transform: translate(0, 0); z-index: 30 }
  50% { transform: translate(-100%, 0);  z-index: 30 }
  0% { transform: translate(-100%, 0) rotate(10deg); z-index: 0}
}